<form [formGroup]="form" (ngSubmit)="create()">
  <div class="input-container">
    <label for="name">Campaign Name</label>
    <input id="name" formControlName="name" type="text" />
  </div>
  <div class="input-container">
    <label for="keywords">Keywords</label>
    <input id="keywords" formControlName="keywords" type="text" />
  </div>
  <div class="input-container">
    <label for="bid">Bid Amount</label>
    <input id="bid" formControlName="bid" type="number" />
  </div>
  <div class="input-container">
    <label for="fund">Campaign Fund</label>
    <input id="fund" formControlName="fund" type="number" />
  </div>
  <div class="input-container">
    <label for="status">Status</label>
    <select id="status" formControlName="status">
      <option value="on">On</option>
      <option value="off">Off</option>
    </select>
  </div>
  <div class="input-container">
    <label for="town">Town</label>
    <select id="town" formControlName="town">
      <option>Cracow</option>
      <option>Poznan</option>
      <option>Lublin</option>
      <option>Warsaw</option>
    </select>
  </div>
  <div class="input-container">
    <label for="radius">Radius (km)</label>
    <input id="radius" formControlName="radius" type="number" />
  </div>
</form>
<button type="submit" [disabled]="form.invalid">Create Campaign</button>