form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  overflow: visible;
}

label {
  margin-right: 10px;
}

.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

input, select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 30px;
  padding: 10px;
  background-color: rgb(22, 19, 197);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(72, 72, 189);
}

button[disabled] {
  background-color: gray;
}

.keywords-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.key-btn {
  width: 30px;
  border-radius: 5px;
  margin: 0 0 0 5px;
}

.keywords-container {
  width: 100%;
  max-width: 390px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.keyword-block {
  max-width: 390px;
  display: inline-flex; 
  align-items: center; 
  flex-wrap: wrap;
  margin-top: 10px;
}

.keyword-item {
  padding: 5px 10px; 
  margin: 5px; 
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
  border-radius: 4px;
}