form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  overflow: visible;
}

label {
  margin-right: 10px;
}

input, select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 30px;
  padding: 10px;
  background-color: rgb(22, 19, 197);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(72, 72, 189);
}

button[disabled] {
  background-color: gray;
}

.keywords-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.key-btn {
  width: 30px;
  border-radius: 5px;
  margin: 0 0 0 5px;
}

.keywords-container {
  width: 100%;
  max-width: 390px;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
}

.keyword-block {
  max-width: 390px;
  display: inline-flex; 
  align-items: center; 
  flex-wrap: wrap;
  margin-top: 10px;
}

.keyword-item {
  padding: 5px 10px; 
  margin: 5px; 
  background-color: #f0f0f0; 
  border: 1px solid #ccc; 
  border-radius: 4px;
}

.conteiner-box {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.error-item {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.form-header {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.btn-close {
  width: 50px;
  height: 30px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: red;
  color: white;
  transition: 0.3s;
}

.btn-close:hover {
  background-color: rgb(230, 69, 69);
}

@media(max-width: 700px) {
  button {
    margin-top: 15px;
  }

  .keyword-block {
    margin-top: 5px;
  }

  .keyword-item {
    padding: 2px 5px; 
    margin: 2px; 
  }

  .keyword-block {
    max-width: 90%;
    margin-top: 5px;
  }
}