header {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
  height: 40px;
  padding: 0 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(56, 56, 196);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: rgb(59, 90, 192);
}

@keyframes animationUp {
  0% {
    transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}

@media(max-width: 700px) {
  header {
    justify-content: center;
  }

  .btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    animation: animationUp 500ms ease-in-out 1;
  }
}

