<div class="campaign-card">

  <div class="card-header">
    <h2 class="title">{{campaign.name}}</h2>
    <div class="header-buttons">
      <button mat-icon-button (click)="openEditModal()">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="openConfirmModal()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="info">
    <p><strong>Keywords:</strong></p>
    <div class="keywords">
      <span *ngFor="let keyword of campaign.keywords">
        {{keyword}}
      </span>
    </div>
  </div>

  <div class="funding-info">
    <div class="fund">Funding: {{campaign.fund | currency}}</div>
    <div class="bid">Bid: {{campaign.bid | currency}}</div>
  </div>

  <div class="status" [ngClass]="{'active': campaign.status === 'on', 'inactive': campaign.status === 'off'}">
    {{campaign.status}}
  </div>

  <div class="location">
    <span class="town">{{campaign.town}}</span>
    <span class="radius">{{campaign.radius}} km radius</span>
  </div>
</div>

<app-modal *ngIf="confirmModal" [(openModal)]="confirmModal">
  <app-form-delete (confirmDelete)="onConfirmDelete()" (cancelDelete)="onCancelDelete()"
    title="Confirm the deletion of the campaign">
  </app-form-delete>
</app-modal>

<app-modal *ngIf="editModal" [(openModal)]="editModal">
  <app-form-edit [userBalance]="userBalance" [campaign]="campaign" title="Update campaign data"
    (updateCampaign)="getNewCampaign($event)" (closeEditModal)="closeEditModal()">
  </app-form-edit>
</app-modal>